{% extends 'sunscreen/base1.html' %}

{% load static %}

{% block title %}Join the course{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/join.css' %}">{% endblock %}

{% block content %}
<div class="row">
	<div class="left col s6">

		{% if progress == 'notjoin' %}
		<div class='card notjoin'>
			<a class="btn tojoin">Join the course</a>
			<div class='info'>
				<p>You are assigned to group <b>{{role}}</b></p>

				{% if group %}
				<p>Your group members are:
				{% for g in group %}
				{{g.username}}, 
				{% endfor %}
				</p>
				{% endif %}

				{% if error %}
				<p>{{error}}</p>
				{% endif %}

				<a class="btn" href="section/1">Begin Learning<a>
			</div>
		</div>
		{% endif %}
		
		{% if progress == 'inprogress' %}
		<div class='card inprogress'>
			<p>{{sec_word}}</p>
			<a class="btn" href="section/{{section_id}}">Resume</a>
		</div>
		{% endif %}

		{% if progress == 'done' %}
		<div class='card done'>
			<p>Congratulations! You are done with our quiz! Remember to use sunscreen and protect your skin! &#x1F606</p>
			<a class="btn logout" href="{% url 'logout' %}">Logout</a>
		</div>
		{% endif %}
	</div>

	<div class="right col s6">
		<p>A lot of the people enjoy sun-bathing and getting tanned, but do you know why we get tanned? When do we need This course will teach you all about it!
		</p>
		<p>This course will teach you all about it!</p>
		<p>In this class, you will learn about how sunscreen works. Instead of learning individually, you will learn it with your peers using Jigsaw method. Here is what you do:</p>
		<img src="{% static 'site-resources/join-explain.png' %}" alt='Explain'>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'js/join.js' %}"></script>
{% endblock %}